body {
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
}

header {
  background: #ff6a00;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

.products {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.product img {
 width: 100%;
 border-radius: 5px; 
}

button {
  background: #ff6a00;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}